@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');



.rubik-gemstones-regular {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik Gemstones";
}