@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Oswald:wght@200..700&display=swap');

.edu-nsw-act-cursive-uniquifier {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: weight 400;
  font-style: normal;
}

h1{
    font-family: "Edu NSW ACT Cursive";
    text-align: center;
}