@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight 200;
  font-style: normal;
}

h1{
    font-family: "Inter";
    text-align: center;
}

p{
  font-size: x-small;
}