@font-face{
    font-family: "Roboto";
    src: url(/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
div{
    height: 100vh;
    width: 100vh;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: "Roboto";
    text-align: center;
}
body{
    height: 100%;
    width: 100%;
}
img{
    height: 95px;
    width: 90px;
}