@font-face{
    font-family: "Roboto";
    src: url(/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
body{
    height: 100vh;
    background-color: aliceblue;
}
h1{
    font-family: "Roboto";
    text-align: center;
    font-size: smaller;
    color: aliceblue;

}
.nazijorker {
  background-color: rgb(95, 170, 66);
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center; 
  align-items: center;     
}
.hd{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px; 

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
img{
    height: 70%;
    border-radius: 15px;
}
.Text{
    font-family: "Roboto";
    font-size: small;
}
.GG{
    background-color: darkolivegreen;
    width: 100%;
    height: 40px;
    font-family: "Roboto";
    font-size: small;

    display: flex;
    justify-content: center; 
    align-items: center; 
}